Repository SAFEHR-data/omopcat: changes, and which Codecov flags are due for each by the changed paths.
All: app, preprocessing

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 1%
        informational: true
    patch:
      default:
        target: auto
        threshold: 1%
        informational: true

component_management:
  individual_components:
    - component_id: app
      name: app
      paths:
        - app/
    - component_id: preprocessing
      name: preprocessing
      paths:
        - preprocessing/

Keep the same concepts selected when the date range is changed
  app/R/mod_datatable.R
Due: app

Simplify updating row selection when bundle changes
  app/R/mod_datatable.R
Due: app

fix: make the selected bundle concepts testable again
  app/R/mod_datatable.R
  app/tests/testthat/test-mod_datatable.R
Due: app

Don't load `golem` automatically
  app/.Rprofile
Due: app

Update NEWS
  app/NEWS.md
Due: app

fix: Keep rows selected when date range changes (#123)
  app/.Rprofile
  app/NEWS.md
  app/R/mod_datatable.R
  app/tests/testthat/test-mod_datatable.R
Due: app

Move selected concepts to top of table when selecting a bundle
  app/R/mod_datatable.R
Due: app

Fix test
  app/tests/testthat/test-mod_datatable.R
Due: app

Use `replaceData()` to update the datatable when the selected dates change
  app/R/mod_datatable.R
Due: app

Refactor: let `mod_datatable_server` return a vector of selected concepts instead of the entire data
  app/R/mod_datatable.R
  app/R/mod_plots.R
  app/R/mod_select_for_export.R
Due: app

Update tests post-refactor
  app/tests/testthat/test-mod_datatable.R
  app/tests/testthat/test-mod_plots.R
  app/tests/testthat/test-mod_select_for_export.R
Due: app

Move selected concepts to top of table when selecting a bundle (#124)
  app/R/mod_datatable.R
  app/R/mod_plots.R
  app/R/mod_select_for_export.R
  app/tests/testthat/test-mod_datatable.R
  app/tests/testthat/test-mod_plots.R
  app/tests/testthat/test-mod_select_for_export.R
Due: app

Update renv
  app/renv.lock
  preprocessing/renv.lock
Due: app, preprocessing

Use R 4.4.2 as base in Dockerfiles
  app/Dockerfile
  preprocessing/Dockerfile
Due: app, preprocessing

Snakecase functions are deprecated in CDMConnector 1.7.0
  data-raw/test_db/create_test_db.R
  data-raw/test_db/dummy/add_dummy_bundle_concepts.R
  preprocessing/R/concepts.R
  preprocessing/R/monthly_counts.R
  preprocessing/R/preprocess.R
  preprocessing/R/summary_stats.R
  preprocessing/man/generate_concepts.Rd
  preprocessing/man/generate_monthly_counts.Rd
  preprocessing/man/generate_summary_stats.Rd
Due: preprocessing

Bump version to `0.3.0`
  app/DESCRIPTION
  app/NEWS.md
  app/inst/golem-config.yml
  preprocessing/DESCRIPTION
Due: app, preprocessing

Revert "Update renv"
  app/renv.lock
  preprocessing/renv.lock
Due: app, preprocessing

Set single core for docker build, see #127
  .env.sample
Due: none

Update omopcat renv
  app/renv.lock
Due: app

Prepare for `0.3.0` release (#126)
  .env.sample
  app/DESCRIPTION
  app/Dockerfile
  app/NEWS.md
  app/inst/golem-config.yml
  app/renv.lock
  data-raw/test_db/create_test_db.R
  data-raw/test_db/dummy/add_dummy_bundle_concepts.R
  preprocessing/DESCRIPTION
  preprocessing/Dockerfile
  preprocessing/R/concepts.R
  preprocessing/R/monthly_counts.R
  preprocessing/R/preprocess.R
  preprocessing/R/summary_stats.R
  preprocessing/man/generate_concepts.Rd
  preprocessing/man/generate_monthly_counts.Rd
  preprocessing/man/generate_summary_stats.Rd
Due: app, preprocessing

Use nginx for reverse proxy
  .env.sample
  docker-compose.yml
  www/Dockerfile.nginx
  www/nginx.conf.template
Due: none

Use consistent env naming
  .env.sample
Due: none

Setup for ssl
  www/Dockerfile.nginx
  www/nginx.conf.template
Due: none

Try posit suggestions
  www/nginx.conf.template
Due: none

Try to get datatables working
  www/nginx.conf.template
Due: none

Default to 4 cores to build
  .env.sample
Due: none

Create SSL certificate if not localhost
  www/Dockerfile.nginx
  www/docker_entrypoint.sh
Due: none

Create certificates in docker build
  docker-compose.yml
  www/Dockerfile.nginx
  www/create_certificates.sh
  www/docker_entrypoint.sh
Due: none

Create certificate on startup if it doesn't exist
  docker-compose.yml
  www/Dockerfile.nginx
  www/config/.gitignore
  www/config/nginx.conf.template
  www/create_certificates.sh
  www/create_certificates_and_run_nginx.sh
Due: none

Create nginx config at runtime
  docker-compose.yml
  www/Dockerfile.nginx
  www/create_certificates_and_run_nginx.sh
Due: none

Only run nginx if its not already running
  www/create_certificates_and_run_nginx.sh
Due: none

Apply suggestions from code review
  preprocessing/R/preprocess.R
  public.env.sample
  www/Dockerfile.nginx
  www/create_certificates_and_run_nginx.sh
Due: preprocessing

Use localhost as default server name
  docker-compose.yml
Due: none

Disable `return_linter`
  .lintr
Due: none

Disable `return_linter` (#136)
  .lintr
Due: none

Serve application by nginx reverse proxy (#135)
  .env.sample
  docker-compose.yml
  preprocessing/R/preprocess.R
  public.env.sample
  www/Dockerfile.nginx
  www/config/.gitignore
  www/config/nginx.conf.template
  www/create_certificates_and_run_nginx.sh
Due: preprocessing

Use SAFEHR favicon
  app/inst/app/www/favicon.ico
Due: app

Consistent title case
  app/R/app_ui.R
Due: app

Improve preview text
  app/R/app_ui.R
Due: app

Increase height of concept table container
  app/R/mod_datatable.R
Due: app
