Repository SAFEHR-data/omopcat: changes, and which Codecov flags are due for each by the changed paths.
All: app, preprocessing

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 1%
        informational: true
    patch:
      default:
        target: auto
        threshold: 1%
        informational: true

component_management:
  individual_components:
    - component_id: app
      name: app
      paths:
        - app/
    - component_id: preprocessing
      name: preprocessing
      paths:
        - preprocessing/

Fix docker builds
  app/.dockerignore
  preprocessing/.dockerignore
  preprocessing/Dockerfile
Due: app, preprocessing

Fix linting CI
  .github/workflows/lint.yaml
Due: none

knitr 1.49 not available for GHA runners?
  preprocessing/renv.lock
Due: preprocessing

Set the necessary envvars to build docker containers
  .env.sample
  .github/workflows/docker-build.yml
Due: none

Avoid expensive check on GHA
  preprocessing/tests/testthat/test-preprocessing.R
Due: preprocessing

Set `.dockerignore` correctly; ignore `renv/` only copy `renv.lock` in containers
  .dockerignore
  app/.dockerignore
  app/Dockerfile
  preprocessing/.dockerignore
  preprocessing/Dockerfile
Due: app, preprocessing

Set `concurrency` rule for `docker-build` GHA
  .github/workflows/docker-build.yml
Due: none

Switch to `/mnt` instead of `/etc` for preprocessing data output
  docker-compose.yml
Due: none

Fix env name reference
  scripts/create_test_data.R
Due: none

Update README with new repo layout
  README.md
Due: none

fix(ci): Set `working-directory` for coverage action
  .github/workflows/test-coverage.yaml
Due: none

Re-implement `replace_low-frequencies()` in preprocessing pkg
  app/R/utils_replace_low_frequencies.R
  preprocessing/R/utils-low_frequencies.R
  preprocessing/tests/testthat/setup.R
  preprocessing/tests/testthat/test-utils-low_frequencies.R
Due: app, preprocessing

feat: replace low-frequency values during pre-processing
  preprocessing/R/monthly_counts.R
  preprocessing/R/preprocess.R
  preprocessing/R/summary_stats.R
  preprocessing/tests/testthat/test-monthly_counts.R
  preprocessing/tests/testthat/test-preprocessing.R
  preprocessing/tests/testthat/test-summary_stats.R
Due: preprocessing

Regenerate test and dev data with low-freq replacement in pre-processing
  app/inst/dev_data/omopcat_monthly_counts.csv
  app/inst/dev_data/omopcat_summary_stats.csv
  data/test_data/omopcat_concepts.parquet
  data/test_data/omopcat_monthly_counts.parquet
  data/test_data/omopcat_summary_stats.parquet
  scripts/create_dev_data.R
  scripts/create_test_data.R
Due: app

Clean up `app/`, remove `replace_low_frequencies` references
  app/R/mod_datatable.R
  app/R/utils_get_data.R
  app/tests/testthat/test-utils_get_data.R
Due: app

Set low-freq replacement envvars in docker context
  .env.sample
  docker-compose.yml
Due: none

Satisfy lintr
  preprocessing/tests/testthat/test-summary_stats.R
Due: preprocessing

docs(preprocessing): Roxygenise
  preprocessing/man/calculate_summary_stats.Rd
  preprocessing/man/generate_monthly_counts.Rd
  preprocessing/man/generate_summary_stats.Rd
  preprocessing/man/replace_low_frequencies.Rd
Due: preprocessing

test(app): remove obsolete test
  app/tests/testthat/test-mod_datatable.R
Due: app

fix(preprocessing): fix weird lintr error
  preprocessing/R/utils-low_frequencies.R
Due: preprocessing

fix: add missing envvar to `.env.sample`
  .env.sample
Due: none

test(preprocessing): test a range of replacement values
  preprocessing/tests/testthat/test-utils-low_frequencies.R
Due: preprocessing

refactor(preprocessing): rename helper function
  preprocessing/R/preprocess.R
Due: preprocessing

docs(preprocessing): make `replace_low_frequencies` docs more explicit
  preprocessing/R/utils-low_frequencies.R
  preprocessing/man/replace_low_frequencies.Rd
Due: preprocessing

feat: Move low-frequency replacement to pre-processing (#109)
  .env.sample
  app/R/mod_datatable.R
  app/R/utils_get_data.R
  app/R/utils_replace_low_frequencies.R
  app/inst/dev_data/omopcat_monthly_counts.csv
  app/inst/dev_data/omopcat_summary_stats.csv
  app/tests/testthat/test-mod_datatable.R
  app/tests/testthat/test-utils_get_data.R
  data/test_data/omopcat_concepts.parquet
  data/test_data/omopcat_monthly_counts.parquet
  data/test_data/omopcat_summary_stats.parquet
  docker-compose.yml
  preprocessing/R/monthly_counts.R
  preprocessing/R/preprocess.R
  preprocessing/R/summary_stats.R
  preprocessing/R/utils-low_frequencies.R
  preprocessing/man/calculate_summary_stats.Rd
  preprocessing/man/generate_monthly_counts.Rd
  preprocessing/man/generate_summary_stats.Rd
  preprocessing/man/replace_low_frequencies.Rd
  preprocessing/tests/testthat/setup.R
  preprocessing/tests/testthat/test-monthly_counts.R
  preprocessing/tests/testthat/test-preprocessing.R
  preprocessing/tests/testthat/test-summary_stats.R
  preprocessing/tests/testthat/test-utils-low_frequencies.R
  scripts/create_dev_data.R
  scripts/create_test_data.R
Due: app, preprocessing

feat(preprocessing): remove `no matching concept` instances
  preprocessing/R/concepts.R
  preprocessing/tests/testthat/test-concepts.R
Due: preprocessing

feat(preprocessing): remove `no matching concept` instances (#110)
  preprocessing/R/concepts.R
  preprocessing/tests/testthat/test-concepts.R
Due: preprocessing

Set up template for public version of app
  .gitignore
  public.env.sample
Due: none

Test preprocessing with internal and public versions
  data/test_data/internal/omopcat_concepts.parquet
  data/test_data/internal/omopcat_monthly_counts.parquet
  data/test_data/internal/omopcat_summary_stats.parquet
  data/test_data/omopcat_concepts.parquet
  data/test_data/omopcat_monthly_counts.parquet
  data/test_data/omopcat_summary_stats.parquet
  data/test_data/public/omopcat_concepts.parquet
  data/test_data/public/omopcat_monthly_counts.parquet
  data/test_data/public/omopcat_summary_stats.parquet
Due: none

Make shiny port configurable, so we can run multiple instances
  .env.sample
  docker-compose.yml
  public.env.sample
Due: none

Update deploy instructions
  README.md
Due: none

Implement option to summarise at quarterly level
  preprocessing/R/monthly_counts.R
  preprocessing/man/generate_monthly_counts.Rd
  preprocessing/man/summarise_counts.Rd
Due: preprocessing

Update tests for monthly counts
  preprocessing/tests/testthat/test-monthly_counts.R
Due: preprocessing

Use `duckdb` in unit tests
  preprocessing/tests/testthat/test-monthly_counts.R
Due: preprocessing

Properly test the quarterly level summaries
  preprocessing/R/monthly_counts.R
  preprocessing/tests/testthat/test-monthly_counts.R
Due: preprocessing

Fix linter isues
  preprocessing/R/monthly_counts.R
  preprocessing/tests/testthat/test-monthly_counts.R
Due: preprocessing

Make summarisation level configurable
  .env.sample
  docker-compose.yml
  preprocessing/R/preprocess.R
  preprocessing/tests/testthat/test-preprocessing.R
  public.env.sample
Due: preprocessing

Handle quarterly counts in the app
  app/R/fct_monthly_count_plot.R
  app/R/utils_get_data.R
Due: app

Simplify: use `SUMMARISE_LEVEL` envvar only in preprocessing
  .env.sample
  docker-compose.yml
  public.env.sample
Due: none
