Repository SAFEHR-data/omopcat: changes, and which Codecov flags are due for each by the changed paths.
All: app, preprocessing

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 1%
        informational: true
    patch:
      default:
        target: auto
        threshold: 1%
        informational: true

component_management:
  individual_components:
    - component_id: app
      name: app
      paths:
        - app/
    - component_id: preprocessing
      name: preprocessing
      paths:
        - preprocessing/

Regenerate test data
  data/test_data/internal/omopcat_concepts.parquet
  data/test_data/internal/omopcat_monthly_counts.parquet
  data/test_data/internal/omopcat_summary_stats.parquet
  data/test_data/public/omopcat_concepts.parquet
  data/test_data/public/omopcat_monthly_counts.parquet
  data/test_data/public/omopcat_summary_stats.parquet
Due: none

Avoid accidental copying of local .Renvignore files into docker images
  .dockerignore
Due: none

Log the summarise level during preprocessing
  preprocessing/R/preprocess.R
Due: preprocessing

feat: Enable public version of app with courser data (#111)
  .dockerignore
  .gitignore
  README.md
  app/R/fct_monthly_count_plot.R
  app/R/utils_get_data.R
  data/test_data/internal/omopcat_concepts.parquet
  data/test_data/internal/omopcat_monthly_counts.parquet
  data/test_data/internal/omopcat_summary_stats.parquet
  data/test_data/omopcat_concepts.parquet
  data/test_data/omopcat_monthly_counts.parquet
  data/test_data/omopcat_summary_stats.parquet
  data/test_data/public/omopcat_concepts.parquet
  data/test_data/public/omopcat_monthly_counts.parquet
  data/test_data/public/omopcat_summary_stats.parquet
  docker-compose.yml
  preprocessing/R/monthly_counts.R
  preprocessing/R/preprocess.R
  preprocessing/man/generate_monthly_counts.Rd
  preprocessing/man/summarise_counts.Rd
  preprocessing/tests/testthat/test-monthly_counts.R
  preprocessing/tests/testthat/test-preprocessing.R
  public.env.sample
Due: app, preprocessing

Update NEWS.md
  app/NEWS.md
Due: app

Increment package versions to `0.2.2`
  app/DESCRIPTION
  app/NEWS.md
  app/inst/golem-config.yml
  preprocessing/DESCRIPTION
Due: app, preprocessing

Prepare for `0.2.2` release (#113)
  app/DESCRIPTION
  app/NEWS.md
  app/inst/golem-config.yml
  preprocessing/DESCRIPTION
Due: app, preprocessing

chore(version): set dev version
  app/DESCRIPTION
  app/NEWS.md
  preprocessing/DESCRIPTION
Due: app, preprocessing

fix(app): keep concepts table at minimum height
  app/R/app_ui.R
  app/R/mod_datatable.R
Due: app

fix(app): keep concepts table at minimum height (#114)
  app/R/app_ui.R
  app/R/mod_datatable.R
Due: app

fix: Use better low-frequency replacement values
  .env.sample
  public.env.sample
Due: none

Better table column names
  app/R/mod_datatable.R
Due: app

Remove `mean_records_per_person` column as it's not used
  app/R/mod_datatable.R
  app/tests/testthat/test-mod_datatable.R
Due: app

Conditionally round numbers for better display
  app/R/mod_datatable.R
Due: app

Improve docker build speed and caching
  .env.sample
  app/Dockerfile
  docker-compose.yml
  preprocessing/Dockerfile
  public.env.sample
Due: app, preprocessing

Use devtools install
  preprocessing/Dockerfile
Due: preprocessing

Round to 2 digits
  app/R/mod_datatable.R
  public.env.sample
Due: app

Regenerate public test data
  data/test_data/public/omopcat_concepts.parquet
  data/test_data/public/omopcat_monthly_counts.parquet
  data/test_data/public/omopcat_summary_stats.parquet
Due: none

fix: Use better low-frequency replacement values (#115)
  .env.sample
  app/R/mod_datatable.R
  app/tests/testthat/test-mod_datatable.R
  data/test_data/internal/omopcat_concepts.parquet
  data/test_data/internal/omopcat_monthly_counts.parquet
  data/test_data/internal/omopcat_summary_stats.parquet
  data/test_data/public/omopcat_concepts.parquet
  data/test_data/public/omopcat_monthly_counts.parquet
  data/test_data/public/omopcat_summary_stats.parquet
  public.env.sample
Due: app

Set multiple cores build for app container
  app/Dockerfile
  docker-compose.yml
Due: app

Use multi-stage build to improve renv caching
  .dockerignore
  app/Dockerfile
  preprocessing/Dockerfile
Due: app, preprocessing

Add source package into subdir to avoid overwriting renv files
  app/Dockerfile
  preprocessing/Dockerfile
Due: app, preprocessing

`path` is not an argument for `devtools::install()`
  preprocessing/Dockerfile
Due: preprocessing

Use `COPY` instead of `ADD`
  app/Dockerfile
  preprocessing/Dockerfile
Due: app, preprocessing

Use `BUILD_CORES_MAKE` as envvar name
  .env.sample
  docker-compose.yml
  public.env.sample
Due: none

Use better dirname
  preprocessing/Dockerfile
Due: preprocessing

Improve docker build speed and caching (#118)
  .dockerignore
  .env.sample
  app/Dockerfile
  docker-compose.yml
  preprocessing/Dockerfile
  public.env.sample
Due: app, preprocessing

Changes default behavior so 1st row is no longer selected by default
  app/R/mod_datatable.R
Due: app

Removed auto-selection of Row 1 of data table on concepts tab (#120)
  app/R/mod_datatable.R
Due: app

Regenerate test and dev data
  app/inst/dev_data/omopcat_monthly_counts.csv
  data/test_data/omopcat_concepts.parquet
  data/test_data/omopcat_monthly_counts.parquet
  data/test_data/omopcat_summary_stats.parquet
Due: app

Use `test_data/internal` to store monthly test data
  data/test_data/internal/omopcat_concepts.parquet
  data/test_data/internal/omopcat_monthly_counts.parquet
  data/test_data/internal/omopcat_summary_stats.parquet
  data/test_data/omopcat_concepts.parquet
  data/test_data/omopcat_monthly_counts.parquet
  data/test_data/omopcat_summary_stats.parquet
  scripts/create_test_data.R
Due: none

Use `test_data/internal` as input for dev data
  scripts/create_dev_data.R
Due: none

Regenerate dev data
  app/inst/dev_data/omopcat_monthly_counts.csv
Due: app

RStudio project now has a `ProjectId`
  app/omopcat.Rproj
  preprocessing/omopcat.preprocessing.Rproj
Due: app, preprocessing

Keep the `value_as_concept_id` column in the summary stats
  app/inst/dev_data/omopcat_summary_stats.csv
  data/test_data/internal/omopcat_concepts.parquet
  data/test_data/internal/omopcat_monthly_counts.parquet
  data/test_data/internal/omopcat_summary_stats.parquet
  preprocessing/R/summary_stats.R
  preprocessing/tests/testthat/test-summary_stats.R
Due: app, preprocessing

Fix typo
  scripts/create_test_data.R
Due: none

Update test snapshot
  app/tests/testthat/_snaps/utils_get_data/summary_stats.csv
Due: app

fix: Keep `value_as_concept_id` in the summary stats table (#122)
  app/inst/dev_data/omopcat_monthly_counts.csv
  app/inst/dev_data/omopcat_summary_stats.csv
  app/omopcat.Rproj
  app/tests/testthat/_snaps/utils_get_data/summary_stats.csv
  data/test_data/internal/omopcat_concepts.parquet
  data/test_data/internal/omopcat_monthly_counts.parquet
  data/test_data/internal/omopcat_summary_stats.parquet
  data/test_data/omopcat_concepts.parquet
  data/test_data/omopcat_monthly_counts.parquet
  data/test_data/omopcat_summary_stats.parquet
  preprocessing/R/summary_stats.R
  preprocessing/omopcat.preprocessing.Rproj
  preprocessing/tests/testthat/test-summary_stats.R
  scripts/create_dev_data.R
  scripts/create_test_data.R
Due: app, preprocessing

Small refactor of `join_counts_to_concepts()` and keep `concepts_with_counts` in a `reactiveValues()` list
  app/R/mod_datatable.R
Due: app
